<form [formGroup]="form" (ngSubmit)="saveForm($event)">
  <div class="form">
    <div formGroupName="fullName" class="embebed">
      <div>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label> Firts Name:{{nameField.valid}}</mat-label>
          <input matInput placeholder="Add Name" type="text" formControlName="name">
          <mat-icon matSuffix *ngIf="isNameFieldValid" style="color:rgb(0, 255, 0);">done</mat-icon>
          <mat-icon matSuffix *ngIf="isNameFieldInValid" style="color:rgb(255, 0, 0);">cancel</mat-icon>
          <mat-hint>You need add your First name</mat-hint>
          <mat-error *ngIf="nameField.hasError('required')" >
            Este campo es requerido
          </mat-error>
          <mat-error *ngIf="nameField.hasError('maxlength')" >
            El valor maximo permitido es de 15
          </mat-error>
          <mat-error *ngIf="nameField.hasError('pattern')" >
            Debe ser un nombre valido sin numeros o caracteres especiales
          </mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label> Last Name:{{lastField.valid}}</mat-label>
          <input matInput placeholder="Add Name" type="text" formControlName="lastName">
          <mat-icon matSuffix *ngIf="isNameFieldValid" style="color:rgb(0, 255, 0);">done</mat-icon>
          <mat-icon matSuffix *ngIf="isLastNameFieldInValid" style="color:rgb(255, 0, 0);">cancel</mat-icon>
          <mat-hint>You need add your Last name</mat-hint>
          <mat-error *ngIf="nameField.hasError('required')" >
            Este campo es requerido
          </mat-error>
          <mat-error *ngIf="nameField.hasError('maxlength')" >
            El valor maximo permitido es de 15
          </mat-error>
          <mat-error *ngIf="nameField.hasError('pattern')" >
            Debe ser un nombre valido sin numeros o caracteres especiales
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>  E-mail:{{emailField.valid}}</mat-label>
      <input matInput placeholder="Add Name" type="text" formControlName="email">
      <mat-icon matSuffix *ngIf="isNameFieldValid" style="color:rgb(0, 255, 0);">done</mat-icon>
      <mat-icon matSuffix *ngIf="isEmailInValid" style="color:rgb(255, 0, 0);">cancel</mat-icon>
      <mat-hint>You need add your E-mail</mat-hint>
      <mat-error *ngIf="emailField.hasError('required')" >
        Este campo es requerido
      </mat-error>
      <mat-error *ngIf="emailField.hasError('email')" >
        Debe ser un email valido
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>  Phone:{{phoneField.valid}}</mat-label>
      <input matInput placeholder="Add Name" type="text" formControlName="phone">
      <mat-icon matSuffix *ngIf="isNameFieldValid" style="color:rgb(0, 255, 0);">done</mat-icon>
      <mat-icon matSuffix *ngIf="isPhoneFieldInValid" style="color:rgb(255, 0, 0);">cancel</mat-icon>
      <mat-hint>You need add your phone</mat-hint>
      <mat-error *ngIf="emailField.hasError('required')" >
        Este campo es requerido
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>  Color: {{colorField.value}}</mat-label>
      <input matInput type="color" formControlName="color">
      <mat-hint>Choose a color</mat-hint>
    </mat-form-field>

  <mat-form-field class="example-full-width" color="accent" appearance="fill">
    <mat-label>Date</mat-label>
    <input matInput [matDatepicker]="picker2" formControlName="date">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2 color="primary"></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>  Age: {{ageField.value}}</mat-label>
    <input matInput placeholder="Add Name" type="text" formControlName="age">
    <mat-icon matSuffix *ngIf="isNameFieldValid" style="color:rgb(0, 255, 0);">done</mat-icon>
    <mat-icon matSuffix *ngIf="IsAgeInValid" style="color:rgb(255, 0, 0);">cancel</mat-icon>
    <mat-hint>You need add your Last name</mat-hint>
    <mat-error *ngIf="nameField.hasError('required')" >
      Este campo es requerido
    </mat-error>
    <mat-error *ngIf="nameField.hasError('min')" >
      Debe ser mayor a 18 años
    </mat-error>
    <mat-error *ngIf="nameField.hasError('max')" >
      Debe ser menor a 80 años
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Observaciones: {{textField.value}}</mat-label>
    <textarea matInput placeholder="Ex. It makes me feel..." formControlName="text"></textarea>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <!-- <mat-label> Choose a picture: {{imgField.value}}</mat-label> -->
    <input matInput type="file" formControlName="img">
    <mat-hint>Choose a picture</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>category: {{categoryField.value}}</mat-label>
    <mat-select formControlName="category" >
      <mat-option value="" disabled>Select option</mat-option>
      <mat-option value="category-1">Option 1</mat-option>
      <mat-option value="category-2">Option 2 </mat-option>
      <mat-option value="category-3">Option 3</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Tags: {{tagField.value}}</mat-label>
    <mat-select formControlName="tag" multiple >
      <mat-option value="tag-1">Tag 1</mat-option>
      <mat-option value="tag-2">Tag 2</mat-option>
      <mat-option value="tag-3">Tag 3</mat-option>
    </mat-select>
  </mat-form-field>

  <div>
    <mat-checkbox class="example-margin" formControlName="agreed" >Agreed</mat-checkbox>
    <br/>
    <mat-hint>You need acept term and condicions</mat-hint>
    <div class="messages" [class.active]="isAgreedFieldInValid">
      <p>
        <strong *ngIf="agreedField.hasError('required')">Debes aceptar el contrato</strong>
      </p>
    </div>
  </div>

  <mat-radio-group aria-label="Select an option">
    <mat-label>Gender: {{genderField.value}}</mat-label>
    <mat-radio-button value="male">male</mat-radio-button>
    <mat-radio-button value="female">female</mat-radio-button>
    <mat-radio-button value="other">Other</mat-radio-button>
  </mat-radio-group>

  <p>
    <button mat-raised-button color="primary" type="submit"><mat-icon matSuffix>save</mat-icon> Save</button>

  </p>
  </div>


</form>


