<form [formGroup]="form" (ngSubmit)="save()">
  <mat-card>
    <mat-card-header>
      <mat-card-title> Crear Categoría</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="row">
          <div class="col-xs">
            <mat-form-field>
              <mat-label>Nombre</mat-label>
              <input placeholder="Nombre" formControlName="name" matInput type="text">
              <div class="messages" *ngIf="nameField.touched && nameField.invalid">
                <mat-error *ngIf="nameField.hasError('required')">
                  Este campo es requerido
                </mat-error>
              </div>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-xs">
            <label class="btn-upload">
              <picture>
                <img *ngIf="imageField.value" [src]="imageField.value" alt="Imagen seleccionada por el usuario">
              </picture><br/>
               <!--Creamos el boton con un evento click que va a llamar al elemento que tiene el tag fileInput-->
              <button type="button" mat-raised-button (click)="fileInput.click()" class="upload__cta">
                <mat-icon aria-hidden="false" aria-label="Carga de archivo">cloud_upload</mat-icon>
                Upload
              </button>
              <input type="file" #fileInput (change)="uploadFile($event)" accept=".jpg, .png" /> <!--Creamos el tag para #fileInput y llamamos al metodo uploadFile-->
            </label>
            <mat-error *ngIf="imageField.touched && imageField.invalid">
              <ng-container *ngIf="imageField.hasError('required')">La imagen es requerida</ng-container>
            </mat-error>
            <!--Usamos el componente de material para crear la barra de progreso-->
            <mat-progress-bar class="contain__progress" *ngIf="showProgressBar" mode="determinate" [value]="percentageProgressBar"></mat-progress-bar> <br/>
            <strong *ngIf="showProgressBar">Name image: {{ filename }}</strong>
          </div>
        </div>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button type="submit">
        <span *ngIf="!CategoryId">Guardar Categoria</span>
        <span *ngIf="CategoryId">Editar Categoria</span>
      </button>
    </mat-card-actions>
  </mat-card>

</form>
